@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.SideBar {
  position: fixed;
  height: 100vh;
  /* width: 282px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--sideBar-bg-color);
}
.top-wrapper {
  padding: 24px 20px;
}
.logo {
  width: 170px;
  height: 42.55px;
  margin-bottom: 2rem;
}
.sidebar-buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sidebar-buttons span {
  color: var(--black-100, var(--black-100, #1c1c1c));
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.sidebar-btn-wrapper {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.sidebar-buttons .sidebar-btn-wrapper .SideBarBtn:nth-child(1) {
  background: linear-gradient(90deg, #9400d3 0%, #4b0082 100%);
}
.sidebar-buttons .sidebar-btn-wrapper .SideBarBtn:nth-child(2) {
  background: linear-gradient(90deg, #ec008c 0%, #fc6767 100%);
}
.sidebar-buttons .sidebar-btn-wrapper .SideBarBtn:nth-child(3) {
  background: linear-gradient(90deg, #ff8008 0%, #ffc837 100%);
}

/* history-constainer */
.history-constainer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 24px 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.history-constainer span {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.history-constainer .history-record {
  display: flex;
  width: 242px;
  padding: 12px;
  align-items: center;
  gap: 12px;
}

.history-constainer .history-record img {
  width: 24px;
  height: 24px;
}
.history-constainer .history-record p {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

/* feature-btn-container */

.feature-btn-container {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.feature-btn-container ul {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 20px 20px 28px 20px;
}

.feature-btn-container ul li {
  display: flex;
  padding: 12px;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  border-radius: 8px;
}

.feature-btn-container ul li img {
  width: 24px;
  height: 24px;
}
.feature-btn-container ul li {
  padding: 12px;
  display: flex;
  gap: 12px;
  cursor: pointer;
}

.feature-btn-container ul li p {
  color: var(--black-100, var(--black-100, #1c1c1c));
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;

  /* 14 Regular */
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

/* Responsive */
@media (max-height: 840px) {
  .SideBar {
    overflow-y: scroll;
  }
}
