.TextAI {
  max-width: 759px;
  margin-bottom: 24px;
  margin-top: 38px;
  display: flex;
  flex-direction: column;
}
.TextAI-top-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}

.TextAI .main-title {
  color: var(--black-100, var(--black-100, #1c1c1c));
  text-align: center;
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;
  /* 48 Semibold */
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 58px; /* 120.833% */
}

.main-title-desc {
  max-width: 722.953px;
  color: #000;
  text-align: center;
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
  opacity: 0.54;
  margin-bottom: 68px;
}

.TextAI .form-container {
  /* width: 759px; */
  width: 100%;
  height: 408px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #fff;
  padding: 24px;
  display: flex;
  flex-direction: column;
}
.TextAI .input-box-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.TextAI .input-box-wrapper label {
  color: #3f3f3f;
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
}
.TextAI .input-box-wrapper input {
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;

  display: inline-flex;
  height: 56px;
  padding: 16px 267.35px 19px 16px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  background: #fafafa;

  border: none;
}

.TextAI .top-form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.TextAI .bottom-form-wrapper {
  display: flex;
  margin-top: 16px;
  gap: 32px;
}

.TextAI .bottom-form-wrapper .bottom-input-box-wrapper label {
  color: #3f3f3f;
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
}
.TextAI .bottom-form-wrapper .bottom-input-box-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.TextAI .bottom-form-wrapper .bottom-input-box-wrapper input {
  display: inline-flex;
  height: 56px;
  padding: 16px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  background: #fafafa;

  border: none;
}
.TextAI .bottom-form-wrapper .bottom-input-box-wrapper:nth-child(1) {
  flex: 1;
  /* padding: 16px 254px 19px 16px; */
}
.TextAI .bottom-form-wrapper .bottom-input-box-wrapper:nth-child(2) {
  flex: 1;
  /* padding: 16px 249px 19px 16px; */
}
.TextAI .generate-btn {
  width: 176px;
  height: 44px;
  flex-shrink: 0;

  border-radius: 12px;
  background: linear-gradient(129deg, #ff2e00 0%, #b633b8 40.1%, #3d22de 100%);
  box-shadow: 0px 4px 14px 0px rgba(182, 169, 169, 0.16);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  gap: 6px;

  align-self: center;
  margin-top: 32px;
  cursor: pointer;
}
.TextAI .generate-btn img {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}

.TextAI .generate-btn p span {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px; /* 150% */
}

.TextAI .input-box:-webkit-autofill,
.TextAI .input-box:-webkit-autofill:hover,
.TextAI .input-box:-webkit-autofill:focus,
.TextAI .input-box:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

/* TextAI-bottom-wrapper */

.TextAI-bottom-wrapper {
  max-width: 758px;
  flex-shrink: 0;
  padding: 16px;
  border-radius: 16px;
  background: #fff;
}

.TextAI-bottom-wrapper h1 {
  color: #000;
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 90.909% */
  opacity: 0.87;
  padding-left: 8px;
}

.TextAI-bottom-wrapper p {
  color: #000;
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px; /* 150% */
}

.result-data-wrapper {
  display: flex;
  max-width: 726px;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border-radius: 14px;
  border: 1px solid #eaeaea;

  margin-bottom: 20px;
}

.suggestion-btns-wrapper {
  display: flex;
  max-width: 685px;
  height: 66px;
  padding: 16px 0px;
  align-items: flex-start;
  align-content: flex-start;
  gap: 20px 10px;
  flex-shrink: 0;
  flex-wrap: wrap;
}

.suggestion-btns-wrapper button {
  color: #19191a;
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */

  display: flex;
  padding: 8px 12px;
  align-items: flex-start;
  gap: var(--gap-4, 4px);

  border-radius: 14px;
  border: 1px solid #f0f8ff;
  background: #f0f8ff;
  cursor: pointer;
}
