.TicketBooking {
  background-color: #f5f5f5;
}
.search-bg {
  padding-bottom: 8rem;
  /* background-color: var(--tertiary-color); */
  background: rgb(106, 203, 228);
  background: linear-gradient(
    0deg,
    #6acbe4 0%,
    #51d7b2 71%
  );

  /* background: rgb(42,195,233);
background: linear-gradient(0deg, rgba(42,195,233,1) 0%, rgba(25,228,147,1) 100%); */
  /* #2bf2ca */
}
.ticketbooking-container {
  position: relative;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ticketbooking-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10rem;
}

.TicketBooking .search-container {
  width: 100%;
  height: 18rem;
  background-color: white;
  /* background-color: var(--secondary-color); */
  position: relative;
  display: flex;
  justify-content: center;
  padding: 3rem 1rem 1rem 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.search-content {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-input-wrapper {
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  width: 100%;
  border-radius: 5px;
}
.search-input-wrapper .input-box-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1rem;
  padding: 1rem;
}
.search-input-wrapper .input-box-wrapper label {
  font-size: 1.2rem;
}
.search-input-wrapper .input-box-wrapper input {
  font-size: 16px;
  padding: 10px;
  width: 100%;
}
.TicketBooking .nav-links {
  display: flex;
  height: fit-content;
  gap: 3rem;
  position: absolute;
  top: -25%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: var(--secondary-color);
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
}

.TicketBooking .nav-links .nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 5rem;
  height: 5rem;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

.TicketBooking .nav-links .nav-item.active-vehicle::after,
.TicketBooking .nav-links .nav-item.active-vehicle::after {
  width: 50%;
  height: 3px;
  background-color: var(--primary-color);
  content: "";
  position: absolute;
  bottom: -8px;
}

.TicketBooking .nav-links .nav-item:hover span,
.TicketBooking .nav-links .nav-item:hover p {
  color: grey;
}
.TicketBooking .nav-links .nav-item.active-vehicle span {
  color: var(--primary-color);
}
.TicketBooking .nav-links .nav-item.active-vehicle p {
  color: var(--primary-color);
  font-weight: bold;
}
.TicketBooking .nav-links .nav-item span {
  font-size: 2.5rem;
}

.TicketBooking .nav-links .nav-item p {
  font-size: 14px;
}

.search-btn {
  position: absolute;
  height: 3rem;
  width: 15rem;
  border: none;
  border-radius: 1.5rem;
  bottom: -1.5rem;
  background-color: var(--primary-color);
  background-color: #2ac386;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  box-shadow: 3px 3px 5px rgb(57, 159, 196);
  /* background: rgb(42,195,233); */
  /* background: linear-gradient(90deg, rgb(42, 195, 233) 0%, rgba(25,228,147,1) 100%); */
}

.search-btn:hover {
  background-color: rgb(79, 196, 149);
}

/* Slider */

.offers {
  width: 100%;
  height: 6rem;
  position: absolute;
  bottom: -10.8rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.offers-wrapper {
  padding: 10px;
  height: 6rem;
  overflow: hidden;
  white-space: nowrap;
  background-color: white;
  border-radius: 5px;
}
.offers .offers-slide-wrapper {
  width: 100%;
  height: 100%;
  list-style: none;
  display: inline-block;
  transition: 1s;
}
.offers .offers-slide-wrapper .offers-slides {
  width: calc(100% / 3);
  height: 100%;
  padding: 5px 10px;
  display: inline-block;
}
.offers .offers-slide-wrapper .offers-slides div:nth-child(1){
  display: flex;
  gap: 10px;
  align-items: center;
  border: 1px solid grey;
  border-radius: 5px;
  height: 100%;
  padding: 5px;
}
.offers .offers-slide-wrapper .offers-slides div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.offers .offers-slide-wrapper .offers-slides img {
  height: 100%;
  border-radius: 5px;
}
.offers span {
  cursor: pointer;
  position: absolute;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  z-index: 10;
}

.offers .prev-btn {
  left: -18px;
  background-color: white;
}

.offers .next-btn {
  right: -18px;
  background-color: white;
}

/* Search Details */

.search-details-container {
  /* height: 1000px; */
  width: 80%;
  margin: auto;
  margin-top: 6rem;
  padding-bottom: 3rem;
  /* border: 1px solid black; */
  min-height: calc(90vh - 4rem);
  position: sticky;
  top: 4rem;
  border: 1px solid;
}

/* Search Details NavBar */

.search-details-container .search-navbar ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.search-details-container .search-navbar ul li {
  width: 10rem;
  padding: .7rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.search-details-container .search-details {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.search-details-container .search-details .filter-container {
  width: 25rem;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  height: fit-content;
}

.search-details-container .search-details .details-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}
.search-details-container .search-details .details-container .no-result {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.search-details-container .filter-nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1rem 1rem .5rem 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.search-details-container .filter-nav .clear-all {
  cursor: pointer;
}
.search-details-container .filter-nav .clear-all:hover {
  color: var(--primary-color);
}
.search-details-container .filter-container .filter-1,
.search-details-container .filter-container .filter-2,
.search-details-container .filter-container .filter-3{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.filter-container .filter-1 .options-wrapper,
.filter-container .filter-2 .options-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 1rem;
}

.filter-container .filter-1 .options-wrapper span,
.filter-container .filter-2 .options-wrapper span {
  flex: 1;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: .5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.search-details-container .filter-container .filter-1 .options-wrapper span:hover,
.search-details-container .filter-container .filter-2 .options-wrapper span:hover {
  border: 1px solid var(--primary-color);
  background-color: #f1fbf7;
}
.search-details-container .filter-container .filter-1 .options-wrapper span.active-filter,
.search-details-container .filter-container .filter-2 .options-wrapper span.active-filter {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background-color: #f1fbf7;
}

.search-details-container .filter-container .filter-3 input[type="text"]{
  width: 100%;
  padding: 8px;
  font-size: 16px;
}

.filter-container .filter-3 .options-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.search-details-container .filter-3 .options-wrapper ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
/* .search-details-container .filter-3 .options-wrapper ul li input[type="checkbox"]{
  display: inline-block;
} */
.search-details-container .filter-3 .options-wrapper ul li {
  display: flex;
  align-items: center;
  gap: .5rem;
} 