@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.UserDetails{
    width: 90%;
    height: 97%;
    background-color: white;
    margin: auto;
    border-radius: 10px;
    z-index: 0;
}

.UserDetails .navbar{
    height: 3.5rem;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 10px;
}

.UserDetails .navbar .logo{
    width: 5rem;
}

.UserDetails .navbar .add-btn{
    height: fit-content;
    padding: .6rem 1rem;
    margin-right: 1.2rem;
    background-color: #28a745;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 15.5px;
    color: white;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    /* font-weight: bold; */
    gap: 5px;
}
.UserDetails .navbar .add-btn .add-btn-img{
    width: 16px;
}
.UserDetails .navbar .add-btn:hover{
    background-color: #218838;
}
table{
    width: 100%;
    margin-top: 1.5rem;
    text-align: center;
    border-collapse: collapse;
}
table thead{
    background-color: #212529;
    color: white;
    height: 3rem;
    font-family: 'Montserrat', sans-serif;
}
table tbody{
    font-family: 'Open Sans', sans-serif;
}
table tbody tr{
    height: 4.5rem;
}
table tbody tr:nth-child(even){
    background-color: rgb(237, 231, 231);
    /* background-color: #d6d8db; */
}
table tbody .action-btns{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}
table tbody .edit-btn{
    color: black;
    text-decoration: none;
    width: 4rem;
    height: 2rem;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    background-color: #ffc107;
    display: flex;
    justify-content: center;
    align-items: center;
}

table tbody .edit-btn:hover{
    background-color: #E0A800;
}

table tbody .delete-btn{
    color: white;
    width: 5rem;
    height: 2rem;
    border: none;
    border-radius: 3px;
    background-color: #dc3545;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
table tbody .delete-btn:hover{
    background-color: #C82333;
}