.ServicesDropDown{
    position: absolute;
    top: 2rem;
    left: -30%;    
    color: black;
}

.ServicesDropDown .dropdown-content {
    width: 130%;
    text-align: center;
    padding-top: 1.5rem;
}

.dropdown-content ul {
    list-style: none;
    background-color: white;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px grey;
}
.dropdown-content ul li{
    padding: .5rem 0;
    cursor: pointer;
}
.dropdown-content ul li:hover{
    background-color: #00b894;
    color: white;
}