body{
  background-color: #0F0F0F;
}

.App{
  width: 95%;
  margin: auto;
  color: white;
}

.App button{
  width: 5rem;
  height: 2rem;
  margin-right: 1rem;
  font-size:larger;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #5352E5;
  color: white;
}

.App button:hover{
  background-color: #6f6fe3;
}
.box-container {
  display: flex;
  /* flex-direction: column; */
  gap: 30px;
  margin-top: 50px;
}
.box {
  display: flex;
  width: 10rem;
  flex-direction: column;
  border: 1px solid white;
  padding: 10px;
  align-items: center;
}