@import "../../variables.scss";
.PrimaryButton {
    height: 2.5rem;
    background-color: $primary-btn-color;
    border: none;
    outline: none;
    color: white;
    padding: 0 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    .icon {
        font-size: 1rem;
    }
}
.PrimaryButton:hover {
    background-color: $primary-btn-hover-color;
}
