:root {
  --primary-color: #00b894;
  --secondary-color: #f1fffa;
  --tertiary-color: #464e47;
  --hover-color: #39c49c;
  --busBooking-navBar-bg: #02b280;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  width: 80%;
  margin: auto;
}
