$primary-color: #00b894;
$secondary-color: #e6fbf4;
$tertiary-color: #464e47;
$hover-color: #39c49c;
$busBooking-navBar-bg: #02b280;
$global-bg-color: rgb(242, 242, 242);

$add-btn-color: #28a745;
$add-btn-hover-color: rgb(40, 167, 69,0.9);
$edit-btn-color: #ffc107;
$edit-btn-hover-color: rgba(255, 193, 7,0.7);
$delete-btn-color: #dc3545;
$delete-btn-hover-color: rgba(226, 81, 96,0.9);